
body {
    display: flex;
 }
 
 .profileElementsDesign {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    align-items: center;
}
 .title {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 10px;
}

.description {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
}
.profileGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos */
  }