.charactersDesign {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta la distribución entre las columnas */
  }
  
  .cardCharacter {
    flex: 1 1 calc(33.333% - 10px); /* Ajusta para 3 columnas con espacio entre ellas */
    box-sizing: border-box;
    margin: 5px; /* Ajusta el margen entre las tarjetas */
    padding: 10px;
    border: 1px solid #fff; /* O cualquier estilo que desees */
    border-radius: 5px;
    background: #f8f9fa;
  }

  .charactersList {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margen de la lista */
  }
  
  .contactDesign {
    display: flex;
    flex-direction: column;
  }
  
  .contactName, .contactData {
    margin: 10px 0;
  }

  .contactName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .phone{
    color: #3a83f0;
  }